project_BDA/movie/allbut.pl
project_BDA/movie/mku.sh
project_BDA/movie/u.data
project_BDA/movie/u.genre
project_BDA/movie/u.info
project_BDA/movie/u.item
project_BDA/movie/u.occupation
project_BDA/movie/u.user
project_BDA/movie/u1.base
project_BDA/movie/u1.test
project_BDA/movie/u2.base
project_BDA/movie/u2.test
project_BDA/movie/u3.base
project_BDA/movie/u3.test
project_BDA/movie/u4.base
project_BDA/movie/u4.test
project_BDA/movie/u5.base
project_BDA/movie/u5.test
project_BDA/movie/ua.base
project_BDA/movie/ua.test
project_BDA/movie/ub.base
project_BDA/movie/ub.test
